.Rproj.user
.Rhistory
.RData
.Ruserdata
.RDataTmp
.env
*.env
__pycache__/
*.pyc
.venv/
*.venv/
*report_files/
*report.html
*.log
*output_data/
*output/*
*del/
*reports/*
*data/*
token.RData
todo/
*todo/
todo/*
*todo/*
*.html